# Data analysis for Airline Models

In [88]:
import pandas as pd

url = "https://github.com/Speeb04/SDSS-Datathon/raw/refs/heads/main/Resources/Cases/Airline%20Tickets/airline_ticket_dataset.csv"


df = pd.read_csv(url)
df = df.loc[:, ~df.columns.str.contains("Unnamed")]

df.describe()

,Year,quarter,citymarketid_1,citymarketid_2,nsmiles,large_ms,lf_ms,TotalFaredPax_city1,TotalPerLFMkts_city1,TotalPerPrem_city1,TotalFaredPax_city2,TotalPerLFMkts_city2,TotalPerPrem_city2
count,14004.000000,14004.000000,14004.000000,14004.000000,14004.000000,14004.000000,14004.000000,1.399700e+04,13997.000000,13997.000000,1.397900e+04,13979.000000,13979.000000
mean,2023.285633,2.357112,31506.638889,32300.714296,1061.839617,0.566322,0.327737,3.220308e+06,0.836383,-0.007360,2.955601e+06,0.832683,-0.038586
std,1.030128,1.108776,1214.185463,1421.194815,589.956663,0.174240,0.228027,2.319576e+06,0.141082,0.108333,2.014224e+06,0.142587,0.119825
min,2022.000000,1.000000,30135.000000,30189.000000,129.000000,0.209700,0.010000,2.993000e+04,0.000000,-0.619400,5.464000e+04,0.000000,-0.641100
25%,2022.000000,1.000000,30529.000000,30852.000000,604.000000,0.431800,0.154500,1.224800e+06,0.793600,-0.051600,1.582850e+06,0.788400,-0.077500
50%,2023.000000,2.000000,31057.000000,32211.000000,936.000000,0.541600,0.265550,2.873210e+06,0.865900,-0.003200,2.764620e+06,0.863200,-0.022700
75%,2024.000000,3.000000,32244.000000,33342.000000,1404.000000,0.676725,0.444300,4.254110e+06,0.922500,0.048400,3.661990e+06,0.939300,0.040500
max,2025.000000,4.000000,35412.000000,35628.000000,2724.000000,1.000000,1.000000,8.840080e+06,1.000000,0.965900,8.840080e+06,1.000000,0.350800

In [89]:
df

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,...,fare_lg,carrier_low,lf_ms,fare_low,TotalFaredPax_city1,TotalPerLFMkts_city1,TotalPerPrem_city1,TotalFaredPax_city2,TotalPerLFMkts_city2,TotalPerPrem_city2
0,2025,2,32467,31703,"Miami, FL (Metropolitan Area)","New York City, NY (Metropolitan Area)",1118,"17,955",$208.52,B6,...,$191.48,B6,0.2551,$191.48,4322090.000,0.885900,-0.065800,2978413.333,0.821150,-0.032867
1,2025,2,32575,32457,"Los Angeles, CA (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",372,"17,310",$157.68,WN,...,$169.03,AS,0.1193,$140.59,2822942.000,0.865080,-0.038060,3284783.333,0.880833,-0.051467
2,2025,2,32575,31703,"Los Angeles, CA (Metropolitan Area)","New York City, NY (Metropolitan Area)",2510,"13,648",$430.38,DL,...,$526.21,B6,0.2272,$365.63,2822942.000,0.865080,-0.038060,2978413.333,0.821150,-0.032867
3,2025,2,31703,31454,"New York City, NY (Metropolitan Area)","Orlando, FL",989,"12,627",$186.50,B6,...,$186.10,B6,0.3735,$186.10,2978413.333,0.821150,-0.032867,8664260.000,0.979700,-0.115500
4,2025,2,30977,31703,"Chicago, IL","New York City, NY (Metropolitan Area)",773,"11,284",$221.33,UA,...,$238.62,AA,0.2426,$217.36,5402975.000,0.775150,-0.007850,2978413.333,0.821150,-0.032867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13999,2022,1,30721,30849,"Boston, MA (Metropolitan Area)","Bozeman, MT",1991,163,$336.19,B6,...,$364.03,AA,0.1021,$285.03,1584666.667,0.893267,-0.004033,363580.000,0.716400,0.031800
14000,2022,1,31453,30436,"Houston, TX","Tucson, AZ",945,163,$232.04,UA,...,$245.81,WN,0.2870,$193.59,2101435.000,0.821550,0.004900,587020.000,0.770100,-0.014100
14001,2022,1,31638,33570,"Fresno, CA","San Diego, CA",314,163,$158.49,AS,...,$157.30,AS,0.9133,$157.30,240180.000,0.634500,-0.036800,3011950.000,0.888100,0.016400
14002,2022,1,30194,31481,"Dallas/Fort Worth, TX","Panama City, FL",685,163,$219.12,WN,...,$201.23,WN,0.5775,$201.23,3003365.000,0.715800,0.044750,169540.000,0.868100,0.063500
14003,2022,1,34057,34570,"Portland, OR","Reno, NV",444,163,$186.50,AS,...,$185.74,WN,0.0546,$163.50,1865740.000,0.685400,0.020800,622760.000,0.898800,-0.020900

In [90]:
df["city1"] = df["city1"].str.replace(" (Metropolitan Area)", "")
df["city2"] = df["city2"].str.replace(" (Metropolitan Area)", "")
cities = set(df["city1"].unique()) | set(df["city2"].unique())
cities

{'Albany, NY',
 'Albuquerque, NM',
 'Allentown/Bethlehem/Easton, PA',
 'Amarillo, TX',
 'Appleton, WI',
 'Asheville, NC',
 'Aspen, CO',
 'Atlanta, GA',
 'Atlantic City, NJ',
 'Austin, TX',
 'Bangor, ME',
 'Belleville, IL',
 'Bellingham, WA',
 'Bend/Redmond, OR',
 'Billings, MT',
 'Birmingham, AL',
 'Bismarck/Mandan, ND',
 'Boise, ID',
 'Boston, MA',
 'Bozeman, MT',
 'Buffalo, NY',
 'Burlington, VT',
 'Cedar Rapids/Iowa City, IA',
 'Charleston, SC',
 'Charlotte, NC',
 'Charlottesville, VA',
 'Chicago, IL',
 'Cincinnati, OH',
 'Cleveland, OH',
 'Colorado Springs, CO',
 'Columbia, SC',
 'Columbus, OH',
 'Dallas/Fort Worth, TX',
 'Dayton, OH',
 'Denver, CO',
 'Des Moines, IA',
 'Detroit, MI',
 'Eagle, CO',
 'El Paso, TX',
 'Eugene, OR',
 'Eureka/Arcata, CA',
 'Everett, WA',
 'Fargo, ND',
 'Fayetteville, AR',
 'Flint, MI',
 'Fort Myers, FL',
 'Fort Wayne, IN',
 'Fresno, CA',
 'Grand Rapids, MI',
 'Greensboro/High Point, NC',
 'Greenville/Spartanburg, SC',
 'Harlingen/San Benito, TX',
 'Harrisburg, PA',
 'Hartford, CT',
 'Houston, TX',
 'Huntsville, AL',
 'Indianapolis, IN',
 'Jackson, WY',
 'Jackson/Vicksburg, MS',
 'Jacksonville, FL',
 'Kalispell, MT',
 'Kansas City, MO',
 'Key West, FL',
 'Knoxville, TN',
 'Las Vegas, NV',
 'Latrobe, PA',
 'Little Rock, AR',
 'Los Angeles, CA',
 'Louisville, KY',
 'Lubbock, TX',
 'Madison, WI',
 "Martha's Vineyard, MA",
 'Medford, OR',
 'Memphis, TN',
 'Miami, FL',
 'Midland/Odessa, TX',
 'Milwaukee, WI',
 'Minneapolis/St. Paul, MN',
 'Mission/McAllen/Edinburg, TX',
 'Missoula, MT',
 'Myrtle Beach, SC',
 'Nantucket, MA',
 'Nashville, TN',
 'New Haven, CT',
 'New Orleans, LA',
 'New York City, NY',
 'Norfolk, VA',
 'Oklahoma City, OK',
 'Omaha, NE',
 'Orlando, FL',
 'Palm Springs, CA',
 'Panama City, FL',
 'Pasco/Kennewick/Richland, WA',
 'Pensacola, FL',
 'Peoria, IL',
 'Philadelphia, PA',
 'Phoenix, AZ',
 'Pittsburgh, PA',
 'Portland, ME',
 'Portland, OR',
 'Provo, UT',
 'Punta Gorda, FL',
 'Raleigh/Durham, NC',
 'Reno, NV',
 'Richmond, VA',
 'Rochester, NY',
 'Rockford, IL',
 'Sacramento, CA',
 'Salt Lake City, UT',
 'San Antonio, TX',
 'San Diego, CA',
 'San Francisco, CA',
 'Sanford, FL',
 'Santa Barbara, CA',
 'Santa Rosa, CA',
 'Sarasota/Bradenton, FL',
 'Savannah, GA',
 'Seattle, WA',
 'Sioux Falls, SD',
 'South Bend, IN',
 'Spokane, WA',
 'St. Louis, MO',
 'Steamboat Springs, CO',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Tampa, FL',
 'Trenton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Valparaiso, FL',
 'Vero Beach, FL',
 'Washington, DC',
 'West Palm Beach/Palm Beach, FL',
 'Wichita, KS',
 'Wilmington, NC',
 'Worcester, MA'}

In [91]:
df["carrier_lg"].unique()

<StringArray>
['B6', 'WN', 'DL', 'UA', 'AS', 'AA', 'NK', 'F9', 'MX', 'XP', 'G4', 'SY']
Length: 12, dtype: str

In [92]:
df["carrier_low"].unique()

<StringArray>
['B6', 'AS', 'AA', 'F9', 'NK', 'WN', 'DL', 'UA', 'SY', 'MX', 'G4', 'XP', 'HA',
 '3M']
Length: 14, dtype: str

In [93]:
full_service = ['DL', 'AS', 'UA', 'AA', 'B6', 'WN']
low_cost = ['NK', 'F9', 'MX', 'XP', 'G4', 'SY', 'HA', '3M']

hubs = ['Atlanta, GA', 'Minneapolis/St. Paul, MN', 'Detroit, MI', 'Salt Lake City, UT', 'Seattle, WA', 'New York City, NY', 'Boston, MA', 'Portland, OR',
        'San Diego, CA', 'San Francisco, CA', 'Chicago, IL', 'Denver, CO', 'Houston, TX', 'Los Angeles, CA', 'Washington, DC', 'Dallas/Fort Worth, TX',
        'Charlotte, NC', 'Miami, FL', 'Philadelphia, PA', 'Phoenix, AZ', 'Orlando, FL']

In [94]:
df['city1_is_hub'] = df['city1'].isin(hubs)
df['city2_is_hub'] = df['city2'].isin(hubs)
df['carrier_lg_is_full_service'] = df['carrier_lg'].isin(full_service)
df['carrier_low_is_low_cost'] = df['carrier_low'].isin(low_cost)

In [95]:
df

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,...,TotalFaredPax_city1,TotalPerLFMkts_city1,TotalPerPrem_city1,TotalFaredPax_city2,TotalPerLFMkts_city2,TotalPerPrem_city2,city1_is_hub,city2_is_hub,carrier_lg_is_full_service,carrier_low_is_low_cost
0,2025,2,32467,31703,"Miami, FL","New York City, NY",1118,"17,955",$208.52,B6,...,4322090.000,0.885900,-0.065800,2978413.333,0.821150,-0.032867,True,True,True,False
1,2025,2,32575,32457,"Los Angeles, CA","San Francisco, CA",372,"17,310",$157.68,WN,...,2822942.000,0.865080,-0.038060,3284783.333,0.880833,-0.051467,True,True,True,False
2,2025,2,32575,31703,"Los Angeles, CA","New York City, NY",2510,"13,648",$430.38,DL,...,2822942.000,0.865080,-0.038060,2978413.333,0.821150,-0.032867,True,True,True,False
3,2025,2,31703,31454,"New York City, NY","Orlando, FL",989,"12,627",$186.50,B6,...,2978413.333,0.821150,-0.032867,8664260.000,0.979700,-0.115500,True,True,True,False
4,2025,2,30977,31703,"Chicago, IL","New York City, NY",773,"11,284",$221.33,UA,...,5402975.000,0.775150,-0.007850,2978413.333,0.821150,-0.032867,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13999,2022,1,30721,30849,"Boston, MA","Bozeman, MT",1991,163,$336.19,B6,...,1584666.667,0.893267,-0.004033,363580.000,0.716400,0.031800,True,False,True,False
14000,2022,1,31453,30436,"Houston, TX","Tucson, AZ",945,163,$232.04,UA,...,2101435.000,0.821550,0.004900,587020.000,0.770100,-0.014100,True,False,True,False
14001,2022,1,31638,33570,"Fresno, CA","San Diego, CA",314,163,$158.49,AS,...,240180.000,0.634500,-0.036800,3011950.000,0.888100,0.016400,False,True,True,False
14002,2022,1,30194,31481,"Dallas/Fort Worth, TX","Panama City, FL",685,163,$219.12,WN,...,3003365.000,0.715800,0.044750,169540.000,0.868100,0.063500,True,False,True,False
14003,2022,1,34057,34570,"Portland, OR","Reno, NV",444,163,$186.50,AS,...,1865740.000,0.685400,0.020800,622760.000,0.898800,-0.020900,True,False,True,False

In [96]:
df['carrier_lg_is_full_service'].unique()

array([ True, False])

In [97]:
df['carrier_low_is_low_cost'].unique()

array([False,  True])

In [98]:
def addPopulation(main_df, population_data_df):
    """
    Adds Population data to the main DataFrame based on citymarketid_1 and citymarketid_2.

    Args:
        main_df (pd.DataFrame): The original DataFrame.
        population_data_df (pd.DataFrame): DataFrame containing 'city_name' and 'Population' columns.

    Returns:
        pd.DataFrame: The DataFrame with Population data added.
    """
    df_with_population = main_df.merge(population_data_df, left_on='city1', right_on='Geographic Area', how='left', suffixes=('', '_city1_pop'))
    df_with_population = df_with_population.rename(columns={'population': 'Population_city1'})

    df_with_population = df_with_population.merge(population_data_df, left_on='city2', right_on='Geographic Area', how='left', suffixes=('', '_city2_pop'))
    df_with_population = df_with_population.rename(columns={'population': 'Population_city2'})
    return df_with_population

In [99]:
state_dict = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "District of Columbia": "DC",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
}

def truncate_state(df: pd.DataFrame, col_idx: str) -> None:
    df[col_idx] = df[col_idx].apply(
    lambda x: (
        f"{x.split(', ')[0]}, {state_dict.get(x.split(', ')[1], x.split(', ')[1])}"
        if isinstance(x, str) and ', ' in x
        else x
        )
    )

In [100]:
def is_hidden_subsequence(small, large):
    it = iter(large)
    return all(char in it for char in small)

def find_city(GeoName: str) -> str:
    GeoName_modified = GeoName.replace(" ", "").replace("-", "").replace("/", "").replace(',',"").lower()
    for named_city in cities:
        # remove slashes, spaces from both datasets.
        named_city_modified = named_city.replace(" ", "").replace("-", "").replace("/", "").replace(',',"").lower()

        if is_hidden_subsequence(named_city_modified, GeoName_modified):
            return named_city

    # Suppose that didn't work. T2- split each '/' to check for two cities
    for named_city in cities:
        if '/' in named_city:
            cities_split = named_city.split('/')
            for nested_city in cities_split:
                nested_city_modified = nested_city.replace(" ", "").replace("-", "").replace(',',"").lower()
                if is_hidden_subsequence(nested_city_modified, GeoName_modified):
                    return named_city

    return 'N/A'

def pop_find_city(GeoName: str) -> str:
    GeoName_modified = GeoName.replace(" ", "").replace("-", "").replace("/", "").replace(',',"").lower()
    for named_city in cities:
        # remove slashes, spaces from both datasets.
        named_city_modified = named_city.replace(" ", "").replace("-", "").replace("/", "").replace(',',"").lower()

        if is_hidden_subsequence(GeoName_modified, named_city_modified):
            return named_city

    return 'N/A'

In [101]:
population_df = pd.read_csv("https://raw.githubusercontent.com/Speeb04/SDSS-Datathon/refs/heads/main/Resources/Cases/Airline%20Tickets/city_town_population_2024.csv")
population_df = population_df.dropna(subset=["Rank"])

mysterious_cities = ["Valparaiso city, Florida",
                     "Eagle city, Colorado",
                     "Aspen city, Colorado",
                     "Jackson city, Wyoming",
                     "Nantucket city, Massachusetts",
                     "Martha's Vineyard city, Massachusetts",
                     "Latrobe, Pennsylvania"]

while len(mysterious_cities) > 0:
    new_row = {"Rank": "6969", "Geographic Area": mysterious_cities.pop(), "Estimate Base": None, "2020": None, "2021": None, "2022": None, "2023": None, "2024": None}
    population_df.loc[len(population_df)] = new_row


population_df['Geographic Area'] = population_df['Geographic Area'].str.replace(" city", "")
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace(" town", "")
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace(" metropolitan", "")
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace(" metro", "")
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace(" government", "")
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace(" (balance)", "")
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace(" City", "")

# One weird outlier
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace("Nashville-Davidson", "Nashville")
population_df['Geographic Area'] = population_df['Geographic Area'].str.replace("Louisville/Jefferson County", "Louisville")

truncate_state(population_df, 'Geographic Area')

population_df['Geographic Area'] = population_df['Geographic Area'].apply(pop_find_city)

population_df

,Rank,Geographic Area,Estimate Base,2020,2021,2022,2023,2024
0,1.0,"New York City, NY","8,805,594","8,740,306","8,453,772","8,356,179","8,390,888","8,478,072"
1,2.0,"Los Angeles, CA","3,899,449","3,896,329","3,830,987","3,832,998","3,847,428","3,878,704"
2,3.0,"Chicago, IL","2,748,331","2,745,196","2,706,324","2,684,076","2,699,144","2,721,308"
3,4.0,"Houston, TX","2,300,351","2,298,945","2,291,070","2,314,258","2,346,908","2,390,125"
4,5.0,"Phoenix, AZ","1,608,415","1,612,593","1,625,132","1,644,798","1,656,231","1,673,164"
...,...,...,...,...,...,...,...,...
1937,6969,"Nantucket, MA",None,None,None,None,None,None
1938,6969,"Jackson, WY",None,None,None,None,None,None
1939,6969,"Aspen, CO",None,None,None,None,None,None
1940,6969,"Eagle, CO",None,None,None,None,None,None
1941,6969,"Valparaiso, FL",None,None,None,None,None,None

In [102]:
pop_lut = {}

for index, row in population_df.iterrows():
    nested_dict = {}
    for i in range(2020, 2025):
        nested_dict[f'POP{i}'] = row[f'{i}']
    pop_lut[row['Geographic Area']] = nested_dict

pop_lut

{'New York City, NY': {'POP2020': '8,740,306',
  'POP2021': '8,453,772',
  'POP2022': '8,356,179',
  'POP2023': '8,390,888',
  'POP2024': '8,478,072'},
 'Los Angeles, CA': {'POP2020': '3,896,329',
  'POP2021': '3,830,987',
  'POP2022': '3,832,998',
  'POP2023': '3,847,428',
  'POP2024': '3,878,704'},
 'Chicago, IL': {'POP2020': '2,745,196',
  'POP2021': '2,706,324',
  'POP2022': '2,684,076',
  'POP2023': '2,699,144',
  'POP2024': '2,721,308'},
 'Houston, TX': {'POP2020': '2,298,945',
  'POP2021': '2,291,070',
  'POP2022': '2,314,258',
  'POP2023': '2,346,908',
  'POP2024': '2,390,125'},
 'Phoenix, AZ': {'POP2020': '1,612,593',
  'POP2021': '1,625,132',
  'POP2022': '1,644,798',
  'POP2023': '1,656,231',
  'POP2024': '1,673,164'},
 'Philadelphia, PA': {'POP2020': '1,600,788',
  'POP2021': '1,589,918',
  'POP2022': '1,570,554',
  'POP2023': '1,563,349',
  'POP2024': '1,573,916'},
 'San Antonio, TX': {'POP2020': '1,439,340',
  'POP2021': '1,454,238',
  'POP2022': '1,475,931',
  'POP2023': '1,502,711',
  'POP2024': '1,526,656'},
 'San Diego, CA': {'POP2020': '1,384,824',
  'POP2021': '1,374,972',
  'POP2022': '1,388,730',
  'POP2023': '1,394,555',
  'POP2024': '1,404,452'},
 'Dallas/Fort Worth, TX': {'POP2020': '923,645',
  'POP2021': '937,692',
  'POP2022': '959,520',
  'POP2023': '984,664',
  'POP2024': '1,008,106'},
 'Jacksonville, FL': {'POP2020': '951,925',
  'POP2021': '957,537',
  'POP2022': '975,614',
  'POP2023': '993,468',
  'POP2024': '1,009,833'},
 'N/A': {'POP2020': '20,180',
  'POP2021': '19,257',
  'POP2022': '18,912',
  'POP2023': '18,657',
  'POP2024': '18,031'},
 'Austin, TX': {'POP2020': '965,893',
  'POP2021': '969,940',
  'POP2022': '979,214',
  'POP2023': '989,583',
  'POP2024': '993,588'},
 'Charlotte, NC': {'POP2020': '874,948',
  'POP2021': '882,341',
  'POP2022': '898,699',
  'POP2023': '920,053',
  'POP2024': '943,476'},
 'Columbus, OH': {'POP2020': '906,466',
  'POP2021': '902,862',
  'POP2022': '911,227',
  'POP2023': '920,569',
  'POP2024': '933,263'},
 'Indianapolis, IN': {'POP2020': '887,213',
  'POP2021': '882,456',
  'POP2022': '884,168',
  'POP2023': '885,839',
  'POP2024': '891,484'},
 'San Francisco, CA': {'POP2020': '874,826',
  'POP2021': '815,498',
  'POP2022': '814,176',
  'POP2023': '819,151',
  'POP2024': '827,526'},
 'Seattle, WA': {'POP2020': '740,600',
  'POP2021': '733,700',
  'POP2022': '751,454',
  'POP2023': '764,182',
  'POP2024': '780,995'},
 'Denver, CO': {'POP2020': '717,620',
  'POP2021': '711,530',
  'POP2022': '714,851',
  'POP2023': '721,367',
  'POP2024': '729,019'},
 'Oklahoma City, OK': {'POP2020': '683,084',
  'POP2021': '688,596',
  'POP2022': '696,756',
  'POP2023': '704,567',
  'POP2024': '712,919'},
 'Nashville, TN': {'POP2020': '689,726',
  'POP2021': '675,671',
  'POP2022': '685,903',
  'POP2023': '694,294',
  'POP2024': '704,963'},
 'Washington, DC': {'POP2020': '670,917',
  'POP2021': '669,256',
  'POP2022': '676,725',
  'POP2023': '687,324',
  'POP2024': '702,250'},
 'El Paso, TX': {'POP2020': '679,382',
  'POP2021': '678,546',
  'POP2022': '679,247',
  'POP2023': '681,573',
  'POP2024': '681,723'},
 'Las Vegas, NV': {'POP2020': '647,763',
  'POP2021': '651,868',
  'POP2022': '656,716',
  'POP2023': '666,630',
  'POP2024': '678,922'},
 'Boston, MA': {'POP2020': '675,522',
  'POP2021': '658,581',
  'POP2022': '660,080',
  'POP2023': '664,603',
  'POP2024': '673,458'},
 'Detroit, MI': {'POP2020': '638,367',
  'POP2021': '634,939',
  'POP2022': '634,702',
  'POP2023': '638,914',
  'POP2024': '645,705'},
 'Louisville, KY': {'POP2020': '631,847',
  'POP2021': '627,376',
  'POP2022': '627,172',
  'POP2023': '632,162',
  'POP2024': '640,796'},
 'Portland, OR': {'POP2020': '653,166',
  'POP2021': '642,803',
  'POP2022': '636,093',
  'POP2023': '634,314',
  'POP2024': '635,749'},
 'Memphis, TN': {'POP2020': '628,388',
  'POP2021': '622,541',
  'POP2022': '618,468',
  'POP2023': '614,587',
  'POP2024': '610,919'},
 'Milwaukee, WI': {'POP2020': '577,157',
  'POP2021': '566,415',
  'POP2022': '564,614',
  'POP2023': '563,052',
  'POP2024': '563,531'},
 'Albuquerque, NM': {'POP2020': '564,885',
  'POP2021': '563,441',
  'POP2022': '561,422',
  'POP2023': '561,094',
  'POP2024': '560,326'},
 'Tucson, AZ': {'POP2020': '542,649',
  'POP2021': '541,283',
  'POP2022': '547,476',
  'POP2023': '549,932',
  'POP2024': '554,013'},
 'Fresno, CA': {'POP2020': '542,714',
  'POP2021': '543,931',
  'POP2022': '545,874',
  'POP2023': '547,260',
  'POP2024': '550,105'},
 'Sacramento, CA': {'POP2020': '525,579',
  'POP2021': '525,496',
  'POP2022': '526,715',
  'POP2023': '529,792',
  'POP2024': '535,798'},
 'Atlanta, GA': {'POP2020': '499,998',
  'POP2021': '492,892',
  'POP2022': '500,249',
  'POP2023': '513,184',
  'POP2024': '520,070'},
 'Kansas City, MO': {'POP2020': '508,096',
  'POP2021': '508,995',
  'POP2022': '508,913',
  'POP2023': '511,300',
  'POP2024': '516,032'},
 'Raleigh/Durham, NC': {'POP2020': '281,679',
  'POP2021': '286,652',
  'POP2022': '290,982',
  'POP2023': '296,382',
  'POP2024': '301,870'},
 'Colorado Springs, CO': {'POP2020': '481,713',
  'POP2021': '484,837',
  'POP2022': '488,136',
  'POP2023': '491,301',
  'POP2024': '493,554'},
 'Omaha, NE': {'POP2020': '492,783',
  'POP2021': '488,727',
  'POP2022': '486,666',
  'POP2023': '486,780',
  'POP2024': '489,265'},
 'Miami, FL': {'POP2020': '442,828',
  'POP2021': '441,630',
  'POP2022': '456,736',
  'POP2023': '470,677',
  'POP2024': '487,014'},
 'Minneapolis/St. Paul, MN': {'POP2020': '311,127',
  'POP2021': '307,666',
  'POP2022': '305,034',
  'POP2023': '305,147',
  'POP2024': '307,465'},
 'Tulsa, OK': {'POP2020': '413,663',
  'POP2021': '412,923',
  'POP2022': '413,062',
  'POP2023': '414,035',
  'POP2024': '415,154'},
 'West Palm Beach/Palm Beach, FL': {'POP2020': '117,512',
  'POP2021': '117,924',
  'POP2022': '122,120',
  'POP2023': '126,017',
  'POP2024': '127,744'},
 'Wichita, KS': {'POP2020': '398,067',
  'POP2021': '396,708',
  'POP2022': '396,203',
  'POP2023': '397,656',
  'POP2024': '400,991'},
 'Cleveland, OH': {'POP2020': '371,853',
  'POP2021': '365,432',
  'POP2022': '363,622',
  'POP2023': '364,276',
  'POP2024': '365,379'},
 'New Orleans, LA': {'POP2020': '383,374',
  'POP2021': '377,547',
  'POP2022': '370,473',
  'POP2023': '365,167',
  'POP2024': '362,701'},
 'Orlando, FL': {'POP2020': '307,868',
  'POP2021': '309,928',
  'POP2022': '318,821',
  'POP2023': '327,390',
  'POP2024': '334,854'},
 'Cincinnati, OH': {'POP2020': '309,604',
  'POP2021': '308,701',
  'POP2022': '310,211',
  'POP2023': '312,703',
  'POP2024': '314,915'},
 'Pittsburgh, PA': {'POP2020': '302,798',
  'POP2021': '305,427',
  'POP2022': '303,057',
  'POP2023': '304,766',
  'POP2024': '307,668'},
 'Greensboro/High Point, NC': {'POP2020': '27,454',
  'POP2021': '27,380',
  'POP2022': '27,305',
  'POP2023': '27,398',
  'POP2024': '27,476'},
 'Madison, WI': {'POP2020': '274,884',
  'POP2021': '271,139',
  'POP2022': '277,416',
  'POP2023': '281,162',
  'POP2024': '285,300'},
 'Reno, NV': {'POP2020': '264,990',
  'POP2021': '270,060',
  'POP2022': '273,249',
  'POP2023': '276,078',
  'POP2024': '281,714'},
 'St. Louis, MO': {'POP2020': '300,315',
  'POP2021': '293,484',
  'POP2022': '286,292',
  'POP2023': '282,772',
  'POP2024': '279,695'},
 'Buffalo, NY': {'POP2020': '277,558',
  'POP2021': '277,728',
  'POP2022': '275,907',
  'POP2023': '276,376',
  'POP2024': '276,617'},
 'Fort Wayne, IN': {'POP2020': '264,394',
  'POP2021': '266,455',
  'POP2022': '268,394',
  'POP2023': '270,408',
  'POP2024': '273,203'},
 'Lubbock, TX': {'POP2020': '258,050',
  'POP2021': '261,308',
  'POP2022': '264,573',
  'POP2023': '268,053',
  'POP2024': '272,086'},
 'Boise, ID': {'POP2020': '236,043',
  'POP2021': '238,214',
  'POP2022': '237,614',
  'POP2023': '236,433',
  'POP2024': '237,963'},
 'Richmond, VA': {'POP2020': '226,923',
  'POP2021': '227,164',
  'POP2022': '228,670',
  'POP2023': '230,383',
  'POP2024': '233,655'},
 'Norfolk, VA': {'POP2020': '237,813',
  'POP2021': '234,920',
  'POP2022': '232,766',
  'POP2023': '231,378',
  'POP2024': '231,105'},
 'Spokane, WA': {'POP2020': '229,205',
  'POP2021': '230,542',
  'POP2022': '230,777',
  'POP2023': '230,193',
  'POP2024': '230,609'},
 'Huntsville, AL': {'POP2020': '216,379',
  'POP2021': '218,725',
  'POP2022': '222,299',
  'POP2023': '226,228',
  'POP2024': '230,402'},
 'Salt Lake City, UT': {'POP2020': '200,666',
  'POP2021': '201,161',
  'POP2022': '208,579',
  'POP2023': '211,833',
  'POP2024': '217,783'},
 'Des Moines, IA': {'POP2020': '213,769',
  'POP2021': '212,539',
  'POP2022': '210,950',
  'POP2023': '211,088',
  'POP2024': '213,096'},
 'Worcester, MA': {'POP2020': '202,475',
  'POP2021': '205,656',
  'POP2022': '206,602',
  'POP2023': '209,211',
  'POP2024': '211,286'},
 'Sioux Falls, SD': {'POP2020': '193,448',
  'POP2021': '196,833',
  'POP2022': '201,936',
  'POP2023': '205,968',
  'POP2024': '209,289'},
 'Rochester, NY': {'POP2020': '210,892',
  'POP2021': '210,285',
  'POP2022': '208,203',
  'POP2023': '207,235',
  'POP2024': '207,282'},
 'Tallahassee, FL': {'POP2020': '197,934',
  'POP2021': '200,269',
  'POP2022': '202,316',
  'POP2023': '203,665',
  'POP2024': '205,089'},
 'Little Rock, AR': {'POP2020': '202,607',
  'POP2021': '202,141',
  'POP2022': '203,416',
  'POP2023': '204,235',
  'POP2024': '204,774'},
 'Amarillo, TX': {'POP2020': '200,567',
  'POP2021': '200,825',
  'POP2022': '201,475',
  'POP2023': '202,734',
  'POP2024': '203,729'},
 'Grand Rapids, MI': {'POP2020': '198,735',
  'POP2021': '197,757',
  'POP2022': '197,694',
  'POP2023': '198,270',
  'POP2024': '200,117'},
 'Knoxville, TN': {'POP2020': '191,227',
  'POP2021': '192,158',
  'POP2022': '196,210',
  'POP2023': '197,463',
  'POP2024': '198,722'},
 'Birmingham, AL': {'POP2020': '200,270',
  'POP2021': '197,645',
  'POP2022': '196,898',
  'POP2023': '196,818',
  'POP2024': '196,357'},
 'Eugene, OR': {'POP2020': '178,436',
  'POP2021': '180,086',
  'POP2022': '182,053',
  'POP2023': '178,686',
  'POP2024': '178,786'},
 'Santa Rosa, CA': {'POP2020': '177,972',
  'POP2021': '177,338',
  'POP2022': '176,196',
  'POP2023': '176,440',
  'POP2024': '177,524'},
 'Charleston, SC': {'POP2020': '151,065',
  'POP2021': '152,116',
  'POP2022': '154,291',
  'POP2023': '156,263',
  'POP2024': '157,665'},
 'Savannah, GA': {'POP2020': '147,494',
  'POP2021': '146,525',
  'POP2022': '148,281',
  'POP2023': '148,333',
  'POP2024': '148,808'},
 'Mission/McAllen/Edinburg, TX': {'POP2020': '85,864',
  'POP2021': '86,144',
  'POP2022': '86,839',
  'POP2023': '87,759',
  'POP2024': '88,574'},
 'Rockford, IL': {'POP2020': '148,696',
  'POP2021': '147,792',
  'POP2022': '146,937',
  'POP2023': '146,799',
  'POP2024': '147,486'},
 'Syracuse, NY': {'POP2020': '146,934',
  'POP2021': '145,862',
  'POP2022': '146,778',
  'POP2023': '146,067',
  'POP2024': '146,097'},
 'Columbia, SC': {'POP2020': '136,207',
  'POP2021': '136,400',
  'POP2022': '139,639',
  'POP2023': '142,173',
  'POP2024': '144,788'},
 'Midland/Odessa, TX': {'POP2020': '114,934',
  'POP2021': '112,210',
  'POP2022': '113,304',
  'POP2023': '116,402',
  'POP2024': '119,748'},
 'Jackson/Vicksburg, MS': {'POP2020': '21,465',
  'POP2021': '20,851',
  'POP2022': '20,391',
  'POP2023': '20,184',
  'POP2024': '20,032'},
 'Cedar Rapids/Iowa City, IA': {'POP2020': '74,914',
  'POP2021': '75,180',
  'POP2022': '75,867',
  'POP2023': '76,111',
  'POP2024': '76,710'},
 'New Haven, CT': {'POP2020': '129,314',
  'POP2021': '134,088',
  'POP2022': '134,684',
  'POP2023': '136,144',
  'POP2024': '137,562'},
 'Dayton, OH': {'POP2020': '137,553',
  'POP2021': '136,909',
  'POP2022': '136,100',
  'POP2023': '135,936',
  'POP2024': '136,346'},
 'Fargo, ND': {'POP2020': '125,986',
  'POP2021': '129,486',
  'POP2022': '132,030',
  'POP2023': '134,360',
  'POP2024': '136,285'},
 'Allentown/Bethlehem/Easton, PA': {'POP2020': '28,087',
  'POP2021': '30,202',
  'POP2022': '29,579',
  'POP2023': '30,368',
  'POP2024': '30,432'},
 'Wilmington, NC': {'POP2020': '115,887',
  'POP2021': '117,969',
  'POP2022': '121,353',
  'POP2023': '123,599',
  'POP2024': '125,284'},
 'Hartford, CT': {'POP2020': '120,469',
  'POP2021': '120,788',
  'POP2022': '120,888',
  'POP2023': '121,332',
  'POP2024': '122,129'},
 'Billings, MT': {'POP2020': '117,233',
  'POP2021': '117,763',
  'POP2022': '119,952',
  'POP2023': '120,797',
  'POP2024': '121,483'},
 'Provo, UT': {'POP2020': '115,104',
  'POP2021': '114,975',
  'POP2022': '114,038',
  'POP2023': '114,276',
  'POP2024': '115,479'},
 'Everett, WA': {'POP2020': '110,892',
  'POP2021': '111,218',
  'POP2022': '111,842',
  'POP2023': '112,233',
  'POP2024': '113,011'},
 'Peoria, IL': {'POP2020': '112,942',
  'POP2021': '111,893',
  'POP2022': '111,066',
  'POP2023': '111,195',
  'POP2024': '111,696'},
 'Bend/Redmond, OR': {'POP2020': '33,774',
  'POP2021': '35,627',
  'POP2022': '36,391',
  'POP2023': '37,068',
  'POP2024': '37,626'},
 'South Bend, IN': {'POP2020': '103,350',
  'POP2021': '103,156',
  'POP2022': '103,333',
  'POP2023': '103,713',
  'POP2024': '103,713'},
 'Fayetteville, AR': {'POP2020': '94,784',
  'POP2021': '97,298',
  'POP2022': '99,872',
  'POP2023': '101,511',
  'POP2024': '103,134'},
 'Albany, NY': {'POP2020': '98,609',
  'POP2021': '100,647',
  'POP2022': '100,522',
  'POP2023': '101,297',
  'POP2024': '101,317'},
 'Fort Myers, FL': {'POP2020': '87,288',
  'POP2021': '93,307',
  'POP2022': '96,324',
  'POP2023': '98,378',
  'POP2024': '99,918'},
 'Bellingham, WA': {'POP2020': '91,870',
  'POP2021': '90,444',
  'POP2022': '93,917',
  'POP2023': '95,026',
  'POP2024': '95,860'},
 'Greenville/Spartanburg, SC': {'POP2020': '38,604',
  'POP2021': '38,433',
  'POP2022': '38,663',
  'POP2023': '39,280',
  'POP2024': '39,606'},
 'Asheville, NC': {'POP2020': '94,353',
  'POP2021': '94,180',
  'POP2022': '93,910',
  'POP2023': '95,235',
  'POP2024': '94,992'},
 'Trenton, NJ': {'POP2020': '90,546',
  'POP2021': '90,018',
  'POP2022': '89,540',
  'POP2023': '90,383',
  'POP2024': '91,193'},
 'Santa Barbara, CA': {'POP2020': '88,768',
  'POP2021': '88,203',
  'POP2022': '87,535',
  'POP2023': '87,140',
  'POP2024': '87,291'},
 'Pasco/Kennewick/Richland, WA': {'POP2020': '60,892',
  'POP2021': '61,961',
  'POP2022': '62,829',
  'POP2023': '63,685',
  'POP2024': '64,372'},
 'Medford, OR': {'POP2020': '86,330',
  'POP2021': '87,208',
  'POP2022': '86,084',
  'POP2023': '85,667',
  'POP2024': '86,301'},
 'Flint, MI': {'POP2020': '81,109',
  'POP2021': '80,587',
  'POP2022': '79,850',
  'POP2023': '79,669',
  'POP2024': '79,735'},
 'Missoula, MT': {'POP2020': '74,406',
  'POP2021': '75,407',
  'POP2022': '76,879',
  'POP2023': '77,647',
  'POP2024': '78,204'},
 'Bismarck/Mandan, ND': {'POP2020': '24,223',
  'POP2021': '24,408',
  'POP2022': '24,511',
  'POP2023': '24,715',
  'POP2024': '24,788'},
 'Appleton, WI': {'POP2020': '75,593',
  'POP2021': '74,977',
  'POP2022': '74,912',
  'POP2023': '75,102',
  'POP2024': '75,344'},
 'Harlingen/San Benito, TX': {'POP2020': '24,843',
  'POP2021': '24,700',
  'POP2022': '24,690',
  'POP2023': '24,576',
  'POP2024': '24,712'},
 'Portland, ME': {'POP2020': '68,496',
  'POP2021': '68,442',
  'POP2022': '68,457',
  'POP2023': '69,367',
  'POP2024': '69,568'},
 'Sanford, FL': {'POP2020': '61,098',
  'POP2021': '61,072',
  'POP2022': '63,430',
  'POP2023': '66,036',
  'POP2024': '66,919'},
 'Sarasota/Bradenton, FL': {'POP2020': '55,198',
  'POP2021': '56,197',
  'POP2022': '57,688',
  'POP2023': '58,061',
  'POP2024': '57,764'},
 'Bozeman, MT': {'POP2020': '53,865',
  'POP2021': '55,409',
  'POP2022': '56,293',
  'POP2023': '57,106',
  'POP2024': '57,894'},
 'Pensacola, FL': {'POP2020': '54,481',
  'POP2021': '53,982',
  'POP2022': '53,991',
  'POP2023': '53,840',
  'POP2024': '53,898'},
 'Harrisburg, PA': {'POP2020': '50,092',
  'POP2021': '50,248',
  'POP2022': '50,213',
  'POP2023': '50,292',
  'POP2024': '50,649'},
 'Palm Springs, CA': {'POP2020': '44,646',
  'POP2021': '45,008',
  'POP2022': '45,114',
  'POP2023': '45,271',
  'POP2024': '45,453'},
 'Charlottesville, VA': {'POP2020': '46,434',
  'POP2021': '45,713',
  'POP2022': '45,223',
  'POP2023': '45,047',
  'POP2024': '44,767'},
 'Burlington, VT': {'POP2020': '44,745',
  'POP2021': '44,745',
  'POP2022': '44,765',
  'POP2023': '44,666',
  'POP2024': '44,432'},
 'Belleville, IL': {'POP2020': '42,278',
  'POP2021': '41,844',
  'POP2022': '41,315',
  'POP2023': '40,876',
  'POP2024': '40,560'},
 'Myrtle Beach, SC': {'POP2020': '35,973',
  'POP2021': '37,007',
  'POP2022': '38,457',
  'POP2023': '39,779',
  'POP2024': '40,535'},
 'Atlantic City, NJ': {'POP2020': '38,416',
  'POP2021': '38,453',
  'POP2022': '38,597',
  'POP2023': '38,701',
  'POP2024': '38,959'},
 'Panama City, FL': {'POP2020': '32,858',
  'POP2021': '34,178',
  'POP2022': '34,861',
  'POP2023': '35,969',
  'POP2024': '37,024'},
 'Bangor, ME': {'POP2020': '31,720',
  'POP2021': '31,505',
  'POP2022': '31,607',
  'POP2023': '32,400',
  'POP2024': '32,446'},
 'Kalispell, MT': {'POP2020': '25,267',
  'POP2021': '26,828',
  'POP2022': '28,919',
  'POP2023': '30,171',
  'POP2024': '31,296'},
 'Eureka/Arcata, CA': {'POP2020': '26,471',
  'POP2021': '26,338',
  'POP2022': '26,072',
  'POP2023': '25,735',
  'POP2024': '25,412'},
 'Key West, FL': {'POP2020': '26,360',
  'POP2021': '25,986',
  'POP2022': '25,685',
  'POP2023': '25,317',
  'POP2024': '25,240'},
 'Punta Gorda, FL': {'POP2020': '19,658',
  'POP2021': '20,111',
  'POP2022': '20,789',
  'POP2023': '20,441',
  'POP2024': '20,416'},
 'Latrobe, PA': {'POP2020': nan,
  'POP2021': nan,
  'POP2022': nan,
  'POP2023': nan,
  'POP2024': nan},
 "Martha's Vineyard, MA": {'POP2020': nan,
  'POP2021': nan,
  'POP2022': nan,
  'POP2023': nan,
  'POP2024': nan},
 'Nantucket, MA': {'POP2020': nan,
  'POP2021': nan,
  'POP2022': nan,
  'POP2023': nan,
  'POP2024': nan},
 'Jackson, WY': {'POP2020': nan,
  'POP2021': nan,
  'POP2022': nan,
  'POP2023': nan,
  'POP2024': nan},
 'Aspen, CO': {'POP2020': nan,
  'POP2021': nan,
  'POP2022': nan,
  'POP2023': nan,
  'POP2024': nan},
 'Eagle, CO': {'POP2020': nan,
  'POP2021': nan,
  'POP2022': nan,
  'POP2023': nan,
  'POP2024': nan},
 'Valparaiso, FL': {'POP2020': nan,
  'POP2021': nan,
  'POP2022': nan,
  'POP2023': nan,
  'POP2024': nan}}

In [103]:
def addPOP(main_df, pop_lut):
    for i in range(2020, 2025):
        main_df[f"city1_pop_{i}"] = main_df["city1"].map(
            lambda city: pop_lut.get(city, {}).get(f"POP{i}")
            if pd.notna(city) else city
        )

        main_df[f"city2_pop_{i}"] = main_df["city2"].map(
            lambda city: pop_lut.get(city, {}).get(f"POP{i}")
            if pd.notna(city) else city
        )

In [104]:
df_pop_clone = df.copy()

addPOP(df_pop_clone, pop_lut)
df_pop_clone

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,...,city1_pop_2020,city2_pop_2020,city1_pop_2021,city2_pop_2021,city1_pop_2022,city2_pop_2022,city1_pop_2023,city2_pop_2023,city1_pop_2024,city2_pop_2024
0,2025,2,32467,31703,"Miami, FL","New York City, NY",1118,"17,955",$208.52,B6,...,"442,828","8,740,306","441,630","8,453,772","456,736","8,356,179","470,677","8,390,888","487,014","8,478,072"
1,2025,2,32575,32457,"Los Angeles, CA","San Francisco, CA",372,"17,310",$157.68,WN,...,"3,896,329","874,826","3,830,987","815,498","3,832,998","814,176","3,847,428","819,151","3,878,704","827,526"
2,2025,2,32575,31703,"Los Angeles, CA","New York City, NY",2510,"13,648",$430.38,DL,...,"3,896,329","8,740,306","3,830,987","8,453,772","3,832,998","8,356,179","3,847,428","8,390,888","3,878,704","8,478,072"
3,2025,2,31703,31454,"New York City, NY","Orlando, FL",989,"12,627",$186.50,B6,...,"8,740,306","307,868","8,453,772","309,928","8,356,179","318,821","8,390,888","327,390","8,478,072","334,854"
4,2025,2,30977,31703,"Chicago, IL","New York City, NY",773,"11,284",$221.33,UA,...,"2,745,196","8,740,306","2,706,324","8,453,772","2,684,076","8,356,179","2,699,144","8,390,888","2,721,308","8,478,072"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13999,2022,1,30721,30849,"Boston, MA","Bozeman, MT",1991,163,$336.19,B6,...,"675,522","53,865","658,581","55,409","660,080","56,293","664,603","57,106","673,458","57,894"
14000,2022,1,31453,30436,"Houston, TX","Tucson, AZ",945,163,$232.04,UA,...,"2,298,945","542,649","2,291,070","541,283","2,314,258","547,476","2,346,908","549,932","2,390,125","554,013"
14001,2022,1,31638,33570,"Fresno, CA","San Diego, CA",314,163,$158.49,AS,...,"542,714","1,384,824","543,931","1,374,972","545,874","1,388,730","547,260","1,394,555","550,105","1,404,452"
14002,2022,1,30194,31481,"Dallas/Fort Worth, TX","Panama City, FL",685,163,$219.12,WN,...,"923,645","32,858","937,692","34,178","959,520","34,861","984,664","35,969","1,008,106","37,024"
14003,2022,1,34057,34570,"Portland, OR","Reno, NV",444,163,$186.50,AS,...,"653,166","264,990","642,803","270,060","636,093","273,249","634,314","276,078","635,749","281,714"

# ~~WARNING: The CSV file has NOT been uploaded onto GitHub yet, as of <u>2:15 AM</u>.~~
## ~~Ensure that the file has been uploaded, or else the code *cannot be interpreted*.~~

<u>*Edit: As of 4:07 AM,*</u> the code below does NOT work for some inexplicable reason. It works fine on my local machine, so I exported that local CSV and added the population data onto it.

Why the code below works any differently, I have <u>*no clue.*</u>

In [105]:
gdp_df = pd.read_csv("https://raw.githubusercontent.com/Speeb04/SDSS-Datathon/refs/heads/main/Resources/Cases/Airline%20Tickets/gdp_metro_area.csv")
gdp_df = gdp_df.drop(0) # remove US from dataset
gdp_df

,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,10180.0,"Abilene, TX (Metropolitan Statistical Area)",4831387.0,4905212.0,4973755.0,5098449.0,5205916.0,5688636.0,5938272.0,6048755.0,5910471.0,6103245.0,6124105.0,6304173.0,6398366.0,6533062.0,6512380.0,6437424.0,6565925.0,6850284
2,10420.0,"Akron, OH (Metropolitan Statistical Area)",27841099.0,29055437.0,29817293.0,30430372.0,31081544.0,31151400.0,31595473.0,31540576.0,29505000.0,30124290.0,30348492.0,30394149.0,30782127.0,31632884.0,32080122.0,32113046.0,32374943.0,32912839
3,10500.0,"Albany, GA (Metropolitan Statistical Area)",5499100.0,5547080.0,5605710.0,5651416.0,5790084.0,5767999.0,5679490.0,5528688.0,5421746.0,5341783.0,5393551.0,5341035.0,5265937.0,5179108.0,5068956.0,5161807.0,5224058.0,5324036
4,10540.0,"Albany-Lebanon, OR (Metropolitan Statistical A...",3360082.0,3575749.0,3430360.0,3686902.0,3752855.0,4108934.0,3887860.0,3734646.0,3648549.0,3572329.0,3609359.0,3610250.0,3643282.0,3654602.0,3861453.0,4072242.0,4210211.0,4418178
5,10580.0,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",42232297.0,42709728.0,44033835.0,44963420.0,45621416.0,47068055.0,47105080.0,47732725.0,48863290.0,48892808.0,48697857.0,48815555.0,49178824.0,49996435.0,50654280.0,51463668.0,52128025.0,52367618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,47260.0,"Norfolk, VA-NC (Metropolitan Statistical Area) *",75313792.0,76462973.0,80183007.0,84365508.0,88020260.0,88656736.0,89162709.0,88681114.0,87931190.0,88030767.0,87036863.0,86109638.0,86595118.0,85850642.0,87340416.0,86844650.0,87801252.0,89775562
402,33100.0,"Palm Beach, FL (Metropolitan Statistical Area)",227550802.0,236043970.0,244581525.0,257428075.0,274235265.0,278783184.0,276702917.0,265245319.0,249778096.0,257860365.0,258703992.0,259070997.0,265814998.0,274987510.0,286151043.0,295529169.0,306141923.0,315031150
403,31080.0,"Los Angeles, CA (Metropolitan Statistical Area)",640994445.0,658885830.0,693002173.0,723332684.0,751802739.0,775894029.0,780607520.0,785031027.0,744970634.0,761847125.0,773753329.0,788081634.0,805082446.0,827255500.0,862381688.0,879958191.0,912491020.0,941064112
404,38060.0,"Phoenix, AZ (Metropolitan Statistical Area)",149689256.0,155047546.0,165718572.0,174406477.0,189508257.0,199735946.0,203718429.0,197547195.0,180129541.0,181027408.0,186397519.0,192799880.0,194105313.0,197939483.0,204031462.0,210882969.0,217895725.0,227741337
405,36740.0,"Sanford, FL (Metropolitan Statistical Area)",81848542.0,85100325.0,89370151.0,94755340.0,102060252.0,103880112.0,105327723.0,102397225.0,95474522.0,96239638.0,96304899.0,98568541.0,101336529.0,104827744.0,110079086.0,114560010.0,119246663.0,124173982

In [106]:
gdp_df['GeoName'] = gdp_df['GeoName'].str.replace(" (Metropolitan Statistical Area)", "")
gdp_df

,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,10180.0,"Abilene, TX",4831387.0,4905212.0,4973755.0,5098449.0,5205916.0,5688636.0,5938272.0,6048755.0,5910471.0,6103245.0,6124105.0,6304173.0,6398366.0,6533062.0,6512380.0,6437424.0,6565925.0,6850284
2,10420.0,"Akron, OH",27841099.0,29055437.0,29817293.0,30430372.0,31081544.0,31151400.0,31595473.0,31540576.0,29505000.0,30124290.0,30348492.0,30394149.0,30782127.0,31632884.0,32080122.0,32113046.0,32374943.0,32912839
3,10500.0,"Albany, GA",5499100.0,5547080.0,5605710.0,5651416.0,5790084.0,5767999.0,5679490.0,5528688.0,5421746.0,5341783.0,5393551.0,5341035.0,5265937.0,5179108.0,5068956.0,5161807.0,5224058.0,5324036
4,10540.0,"Albany-Lebanon, OR",3360082.0,3575749.0,3430360.0,3686902.0,3752855.0,4108934.0,3887860.0,3734646.0,3648549.0,3572329.0,3609359.0,3610250.0,3643282.0,3654602.0,3861453.0,4072242.0,4210211.0,4418178
5,10580.0,"Albany-Schenectady-Troy, NY",42232297.0,42709728.0,44033835.0,44963420.0,45621416.0,47068055.0,47105080.0,47732725.0,48863290.0,48892808.0,48697857.0,48815555.0,49178824.0,49996435.0,50654280.0,51463668.0,52128025.0,52367618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,47260.0,"Norfolk, VA-NC *",75313792.0,76462973.0,80183007.0,84365508.0,88020260.0,88656736.0,89162709.0,88681114.0,87931190.0,88030767.0,87036863.0,86109638.0,86595118.0,85850642.0,87340416.0,86844650.0,87801252.0,89775562
402,33100.0,"Palm Beach, FL",227550802.0,236043970.0,244581525.0,257428075.0,274235265.0,278783184.0,276702917.0,265245319.0,249778096.0,257860365.0,258703992.0,259070997.0,265814998.0,274987510.0,286151043.0,295529169.0,306141923.0,315031150
403,31080.0,"Los Angeles, CA",640994445.0,658885830.0,693002173.0,723332684.0,751802739.0,775894029.0,780607520.0,785031027.0,744970634.0,761847125.0,773753329.0,788081634.0,805082446.0,827255500.0,862381688.0,879958191.0,912491020.0,941064112
404,38060.0,"Phoenix, AZ",149689256.0,155047546.0,165718572.0,174406477.0,189508257.0,199735946.0,203718429.0,197547195.0,180129541.0,181027408.0,186397519.0,192799880.0,194105313.0,197939483.0,204031462.0,210882969.0,217895725.0,227741337
405,36740.0,"Sanford, FL",81848542.0,85100325.0,89370151.0,94755340.0,102060252.0,103880112.0,105327723.0,102397225.0,95474522.0,96239638.0,96304899.0,98568541.0,101336529.0,104827744.0,110079086.0,114560010.0,119246663.0,124173982

In [107]:
def rename_gdp_df(gdp_df: pd.DataFrame) -> None:  # in place mutation
    gdp_df['GeoName'] = gdp_df['GeoName'].apply(find_city)

In [108]:
rename_gdp_df(gdp_df)
gdp_df

,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,10180.0,N/A,4831387.0,4905212.0,4973755.0,5098449.0,5205916.0,5688636.0,5938272.0,6048755.0,5910471.0,6103245.0,6124105.0,6304173.0,6398366.0,6533062.0,6512380.0,6437424.0,6565925.0,6850284
2,10420.0,N/A,27841099.0,29055437.0,29817293.0,30430372.0,31081544.0,31151400.0,31595473.0,31540576.0,29505000.0,30124290.0,30348492.0,30394149.0,30782127.0,31632884.0,32080122.0,32113046.0,32374943.0,32912839
3,10500.0,N/A,5499100.0,5547080.0,5605710.0,5651416.0,5790084.0,5767999.0,5679490.0,5528688.0,5421746.0,5341783.0,5393551.0,5341035.0,5265937.0,5179108.0,5068956.0,5161807.0,5224058.0,5324036
4,10540.0,N/A,3360082.0,3575749.0,3430360.0,3686902.0,3752855.0,4108934.0,3887860.0,3734646.0,3648549.0,3572329.0,3609359.0,3610250.0,3643282.0,3654602.0,3861453.0,4072242.0,4210211.0,4418178
5,10580.0,"Albany, NY",42232297.0,42709728.0,44033835.0,44963420.0,45621416.0,47068055.0,47105080.0,47732725.0,48863290.0,48892808.0,48697857.0,48815555.0,49178824.0,49996435.0,50654280.0,51463668.0,52128025.0,52367618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,47260.0,"Norfolk, VA",75313792.0,76462973.0,80183007.0,84365508.0,88020260.0,88656736.0,89162709.0,88681114.0,87931190.0,88030767.0,87036863.0,86109638.0,86595118.0,85850642.0,87340416.0,86844650.0,87801252.0,89775562
402,33100.0,"West Palm Beach/Palm Beach, FL",227550802.0,236043970.0,244581525.0,257428075.0,274235265.0,278783184.0,276702917.0,265245319.0,249778096.0,257860365.0,258703992.0,259070997.0,265814998.0,274987510.0,286151043.0,295529169.0,306141923.0,315031150
403,31080.0,"Los Angeles, CA",640994445.0,658885830.0,693002173.0,723332684.0,751802739.0,775894029.0,780607520.0,785031027.0,744970634.0,761847125.0,773753329.0,788081634.0,805082446.0,827255500.0,862381688.0,879958191.0,912491020.0,941064112
404,38060.0,"Phoenix, AZ",149689256.0,155047546.0,165718572.0,174406477.0,189508257.0,199735946.0,203718429.0,197547195.0,180129541.0,181027408.0,186397519.0,192799880.0,194105313.0,197939483.0,204031462.0,210882969.0,217895725.0,227741337
405,36740.0,"Sanford, FL",81848542.0,85100325.0,89370151.0,94755340.0,102060252.0,103880112.0,105327723.0,102397225.0,95474522.0,96239638.0,96304899.0,98568541.0,101336529.0,104827744.0,110079086.0,114560010.0,119246663.0,124173982

In [109]:
gdp_lut = {}

for index, row in gdp_df.iterrows():
    nested_dict = {}
    for i in range(2001, 2019):
        nested_dict[f'GDP{i}'] = row[f'{i}']
    gdp_lut[row['GeoName']] = nested_dict

gdp_lut

{'N/A': {'GDP2001': 4807277.0,
  'GDP2002': 5566126.0,
  'GDP2003': 5425953.0,
  'GDP2004': 5949944.0,
  'GDP2005': 6374305.0,
  'GDP2006': 6823217.0,
  'GDP2007': 7193042.0,
  'GDP2008': 6644046.0,
  'GDP2009': 6340003.0,
  'GDP2010': 6626379.0,
  'GDP2011': 6485708.0,
  'GDP2012': 6028238.0,
  'GDP2013': 6438174.0,
  'GDP2014': 6100802.0,
  'GDP2015': 6776399.0,
  'GDP2016': 7370372.0,
  'GDP2017': 7783381.0,
  'GDP2018': 7874389},
 'Albany, NY': {'GDP2001': 42232297.0,
  'GDP2002': 42709728.0,
  'GDP2003': 44033835.0,
  'GDP2004': 44963420.0,
  'GDP2005': 45621416.0,
  'GDP2006': 47068055.0,
  'GDP2007': 47105080.0,
  'GDP2008': 47732725.0,
  'GDP2009': 48863290.0,
  'GDP2010': 48892808.0,
  'GDP2011': 48697857.0,
  'GDP2012': 48815555.0,
  'GDP2013': 49178824.0,
  'GDP2014': 49996435.0,
  'GDP2015': 50654280.0,
  'GDP2016': 51463668.0,
  'GDP2017': 52128025.0,
  'GDP2018': 52367618},
 'Albuquerque, NM': {'GDP2001': 29960953.0,
  'GDP2002': 30264615.0,
  'GDP2003': 33189445.0,
  'GDP2004': 37611638.0,
  'GDP2005': 37513020.0,
  'GDP2006': 38051965.0,
  'GDP2007': 37467353.0,
  'GDP2008': 37114817.0,
  'GDP2009': 38386065.0,
  'GDP2010': 37518103.0,
  'GDP2011': 37140778.0,
  'GDP2012': 37008279.0,
  'GDP2013': 35865819.0,
  'GDP2014': 36697847.0,
  'GDP2015': 37189493.0,
  'GDP2016': 38020626.0,
  'GDP2017': 37669706.0,
  'GDP2018': 38444417},
 'Allentown/Bethlehem/Easton, PA': {'GDP2001': 42922281.0,
  'GDP2002': 43033504.0,
  'GDP2003': 39341956.0,
  'GDP2004': 36093587.0,
  'GDP2005': 35903549.0,
  'GDP2006': 35631103.0,
  'GDP2007': 37175637.0,
  'GDP2008': 37435790.0,
  'GDP2009': 36202571.0,
  'GDP2010': 37176686.0,
  'GDP2011': 37227898.0,
  'GDP2012': 37210886.0,
  'GDP2013': 37889106.0,
  'GDP2014': 38411673.0,
  'GDP2015': 39178397.0,
  'GDP2016': 39745497.0,
  'GDP2017': 39570402.0,
  'GDP2018': 40511705},
 'Amarillo, TX': {'GDP2001': 9445182.0,
  'GDP2002': 9700564.0,
  'GDP2003': 9842432.0,
  'GDP2004': 9918294.0,
  'GDP2005': 9915443.0,
  'GDP2006': 10571986.0,
  'GDP2007': 10872622.0,
  'GDP2008': 10986088.0,
  'GDP2009': 10903863.0,
  'GDP2010': 11254504.0,
  'GDP2011': 11258855.0,
  'GDP2012': 11503486.0,
  'GDP2013': 11633824.0,
  'GDP2014': 11934423.0,
  'GDP2015': 12274232.0,
  'GDP2016': 12217667.0,
  'GDP2017': 12185359.0,
  'GDP2018': 12629493},
 'Appleton, WI': {'GDP2001': 9619180.0,
  'GDP2002': 9611496.0,
  'GDP2003': 9884448.0,
  'GDP2004': 10242240.0,
  'GDP2005': 10519544.0,
  'GDP2006': 10574619.0,
  'GDP2007': 10697845.0,
  'GDP2008': 10524829.0,
  'GDP2009': 10267554.0,
  'GDP2010': 10437458.0,
  'GDP2011': 10705334.0,
  'GDP2012': 10906039.0,
  'GDP2013': 10688450.0,
  'GDP2014': 10869120.0,
  'GDP2015': 11164626.0,
  'GDP2016': 11428497.0,
  'GDP2017': 11548960.0,
  'GDP2018': 11806167},
 'Asheville, NC': {'GDP2001': 13072808.0,
  'GDP2002': 13513105.0,
  'GDP2003': 13753624.0,
  'GDP2004': 14218575.0,
  'GDP2005': 14634292.0,
  'GDP2006': 15248779.0,
  'GDP2007': 14992617.0,
  'GDP2008': 15018781.0,
  'GDP2009': 14366017.0,
  'GDP2010': 14911441.0,
  'GDP2011': 15095979.0,
  'GDP2012': 14934930.0,
  'GDP2013': 15307703.0,
  'GDP2014': 15925332.0,
  'GDP2015': 16460285.0,
  'GDP2016': 16938621.0,
  'GDP2017': 17323369.0,
  'GDP2018': 17970247},
 'Atlanta, GA': {'GDP2001': 256855449.0,
  'GDP2002': 258689563.0,
  'GDP2003': 265828719.0,
  'GDP2004': 278992891.0,
  'GDP2005': 291636342.0,
  'GDP2006': 292563858.0,
  'GDP2007': 294151050.0,
  'GDP2008': 286310433.0,
  'GDP2009': 273162667.0,
  'GDP2010': 278698042.0,
  'GDP2011': 284227194.0,
  'GDP2012': 287570424.0,
  'GDP2013': 293812164.0,
  'GDP2014': 307232862.0,
  'GDP2015': 320160440.0,
  'GDP2016': 334862045.0,
  'GDP2017': 348681584.0,
  'GDP2018': 357308437},
 'Atlantic City, NJ': {'GDP2001': 13560367.0,
  'GDP2002': 13976107.0,
  'GDP2003': 14183332.0,
  'GDP2004': 14292088.0,
  'GDP2005': 14747473.0,
  'GDP2006': 15706460.0,
  'GDP2007': 15622084.0,
  'GDP2008': 15611761.0,
  'GDP2009': 13812643.0,
  'GDP2010': 13442438.0,
  'GDP2011': 13885512.0,
  'GDP2012': 13670643.0,
  'GDP2013': 13529168.0,
  'GDP2014': 13152309.0,
  'GDP2015': 12705660.0,
  'GDP2016': 12471409.0,
  'GDP2017': 12424734.0,
  'GDP2018': 12863458},
 'Austin, TX': {'GDP2001': 61573299.0,
  'GDP2002': 63354358.0,
  'GDP2003': 65189131.0,
  'GDP2004': 67771615.0,
  'GDP2005': 73119547.0,
  'GDP2006': 81079215.0,
  'GDP2007': 85154743.0,
  'GDP2008': 88561453.0,
  'GDP2009': 86640983.0,
  'GDP2010': 92266233.0,
  'GDP2011': 96340214.0,
  'GDP2012': 99254274.0,
  'GDP2013': 103181110.0,
  'GDP2014': 108459112.0,
  'GDP2015': 116349089.0,
  'GDP2016': 121266147.0,
  'GDP2017': 127337977.0,
  'GDP2018': 134416765},
 'Bend/Redmond, OR': {'GDP2001': 100588426.0,
  'GDP2002': 106482489.0,
  'GDP2003': 114596732.0,
  'GDP2004': 123920108.0,
  'GDP2005': 132062648.0,
  'GDP2006': 140318460.0,
  'GDP2007': 141763085.0,
  'GDP2008': 136764974.0,
  'GDP2009': 127395643.0,
  'GDP2010': 128214518.0,
  'GDP2011': 131711899.0,
  'GDP2012': 132596838.0,
  'GDP2013': 137290849.0,
  'GDP2014': 142594292.0,
  'GDP2015': 149872535.0,
  'GDP2016': 154105682.0,
  'GDP2017': 159582093.0,
  'GDP2018': 164892302},
 'Bangor, ME': {'GDP2001': 5611648.0,
  'GDP2002': 5756989.0,
  'GDP2003': 5744870.0,
  'GDP2004': 5940154.0,
  'GDP2005': 5991791.0,
  'GDP2006': 6024994.0,
  'GDP2007': 5916349.0,
  'GDP2008': 5857129.0,
  'GDP2009': 5816024.0,
  'GDP2010': 5783863.0,
  'GDP2011': 5671744.0,
  'GDP2012': 5628626.0,
  'GDP2013': 5601109.0,
  'GDP2014': 5619495.0,
  'GDP2015': 5633056.0,
  'GDP2016': 5769790.0,
  'GDP2017': 5856821.0,
  'GDP2018': 6017850},
 'Bellingham, WA': {'GDP2001': 7824601.0,
  'GDP2002': 8493988.0,
  'GDP2003': 8668229.0,
  'GDP2004': 8704986.0,
  'GDP2005': 10539485.0,
  'GDP2006': 9767325.0,
  'GDP2007': 10151073.0,
  'GDP2008': 10061782.0,
  'GDP2009': 10306121.0,
  'GDP2010': 10696209.0,
  'GDP2011': 9579707.0,
  'GDP2012': 9456445.0,
  'GDP2013': 9796897.0,
  'GDP2014': 10049533.0,
  'GDP2015': 11419854.0,
  'GDP2016': 12196675.0,
  'GDP2017': 13306016.0,
  'GDP2018': 13515737},
 'Billings, MT': {'GDP2001': 7011989.0,
  'GDP2002': 7086166.0,
  'GDP2003': 7583480.0,
  'GDP2004': 7985452.0,
  'GDP2005': 7988908.0,
  'GDP2006': 8168360.0,
  'GDP2007': 8964432.0,
  'GDP2008': 8535509.0,
  'GDP2009': 8005961.0,
  'GDP2010': 8304713.0,
  'GDP2011': 8708217.0,
  'GDP2012': 8810803.0,
  'GDP2013': 8984056.0,
  'GDP2014': 9461308.0,
  'GDP2015': 9920855.0,
  'GDP2016': 9289701.0,
  'GDP2017': 9565917.0,
  'GDP2018': 9753350},
 'Birmingham, AL': {'GDP2001': 45911960.0,
  'GDP2002': 47576262.0,
  'GDP2003': 48308761.0,
  'GDP2004': 50514944.0,
  'GDP2005': 51738429.0,
  'GDP2006': 51136415.0,
  'GDP2007': 51726923.0,
  'GDP2008': 51912538.0,
  'GDP2009': 48950865.0,
  'GDP2010': 49340750.0,
  'GDP2011': 50389242.0,
  'GDP2012': 51408900.0,
  'GDP2013': 51462649.0,
  'GDP2014': 51520220.0,
  'GDP2015': 52589375.0,
  'GDP2016': 52540527.0,
  'GDP2017': 54192007.0,
  'GDP2018': 55910633},
 'Bismarck/Mandan, ND': {'GDP2001': 4050768.0,
  'GDP2002': 4164210.0,
  'GDP2003': 4477065.0,
  'GDP2004': 4658059.0,
  'GDP2005': 4821708.0,
  'GDP2006': 4847318.0,
  'GDP2007': 4788408.0,
  'GDP2008': 4867030.0,
  'GDP2009': 5063461.0,
  'GDP2010': 5235612.0,
  'GDP2011': 5526534.0,
  'GDP2012': 6126967.0,
  'GDP2013': 6318589.0,
  'GDP2014': 6845862.0,
  'GDP2015': 7087257.0,
  'GDP2016': 6833260.0,
  'GDP2017': 6882276.0,
  'GDP2018': 6937990},
 'Boise, ID': {'GDP2001': 18405904.0,
  'GDP2002': 18923074.0,
  'GDP2003': 20090911.0,
  'GDP2004': 21543350.0,
  'GDP2005': 23892228.0,
  'GDP2006': 23991413.0,
  'GDP2007': 24200366.0,
  'GDP2008': 24810835.0,
  'GDP2009': 23684934.0,
  'GDP2010': 23927255.0,
  'GDP2011': 23910771.0,
  'GDP2012': 24149824.0,
  'GDP2013': 25114537.0,
  'GDP2014': 26267740.0,
  'GDP2015': 26920017.0,
  'GDP2016': 28216234.0,
  'GDP2017': 29709413.0,
  'GDP2018': 31127923},
 'Boston, MA': {'GDP2001': 285572693.0,
  'GDP2002': 286153009.0,
  'GDP2003': 293369240.0,
  'GDP2004': 302750269.0,
  'GDP2005': 310197494.0,
  'GDP2006': 314795460.0,
  'GDP2007': 324550451.0,
  'GDP2008': 327561751.0,
  'GDP2009': 325697627.0,
  'GDP2010': 340175461.0,
  'GDP2011': 347987667.0,
  'GDP2012': 357087616.0,
  'GDP2013': 358112069.0,
  'GDP2014': 365795093.0,
  'GDP2015': 381287879.0,
  'GDP2016': 389080919.0,
  'GDP2017': 399360729.0,
  'GDP2018': 412855824},
 'Harlingen/San Benito, TX': {'GDP2001': 7365660.0,
  'GDP2002': 7737017.0,
  'GDP2003': 7868478.0,
  'GDP2004': 7905010.0,
  'GDP2005': 8139291.0,
  'GDP2006': 8571078.0,
  'GDP2007': 8658509.0,
  'GDP2008': 8761092.0,
  'GDP2009': 8766068.0,
  'GDP2010': 9096646.0,
  'GDP2011': 9292541.0,
  'GDP2012': 9384090.0,
  'GDP2013': 9475171.0,
  'GDP2014': 9508697.0,
  'GDP2015': 9544503.0,
  'GDP2016': 9659865.0,
  'GDP2017': 9737643.0,
  'GDP2018': 10011608},
 'Buffalo, NY': {'GDP2001': 47849533.0,
  'GDP2002': 48926781.0,
  'GDP2003': 49648229.0,
  'GDP2004': 51248410.0,
  'GDP2005': 51749715.0,
  'GDP2006': 54202581.0,
  'GDP2007': 54370032.0,
  'GDP2008': 54853171.0,
  'GDP2009': 55107422.0,
  'GDP2010': 56819099.0,
  'GDP2011': 56070658.0,
  'GDP2012': 57255716.0,
  'GDP2013': 56632250.0,
  'GDP2014': 57796514.0,
  'GDP2015': 58704385.0,
  'GDP2016': 59198536.0,
  'GDP2017': 59746005.0,
  'GDP2018': 60321806},
 'Burlington, VT': {'GDP2001': 8884111.0,
  'GDP2002': 9114336.0,
  'GDP2003': 9718632.0,
  'GDP2004': 10353858.0,
  'GDP2005': 10482693.0,
  'GDP2006': 10697194.0,
  'GDP2007': 10459920.0,
  'GDP2008': 11007893.0,
  'GDP2009': 10913781.0,
  'GDP2010': 11512362.0,
  'GDP2011': 11785665.0,
  'GDP2012': 11884675.0,
  'GDP2013': 11622073.0,
  'GDP2014': 11676920.0,
  'GDP2015': 11913012.0,
  'GDP2016': 12084885.0,
  'GDP2017': 12125000.0,
  'GDP2018': 12355977},
 'Fort Myers, FL': {'GDP2001': 16913097.0,
  'GDP2002': 18103269.0,
  'GDP2003': 19795127.0,
  'GDP2004': 22238600.0,
  'GDP2005': 24637526.0,
  'GDP2006': 26400165.0,
  'GDP2007': 25945779.0,
  'GDP2008': 23813820.0,
  'GDP2009': 21848280.0,
  'GDP2010': 21680472.0,
  'GDP2011': 21405188.0,
  'GDP2012': 21694925.0,
  'GDP2013': 21861382.0,
  'GDP2014': 22943136.0,
  'GDP2015': 24022905.0,
  'GDP2016': 25401906.0,
  'GDP2017': 26207287.0,
  'GDP2018': 27046186},
 'Cedar Rapids/Iowa City, IA': {'GDP2001': 6428759.0,
  'GDP2002': 6682925.0,
  'GDP2003': 6802126.0,
  'GDP2004': 7071470.0,
  'GDP2005': 7139432.0,
  'GDP2006': 7377506.0,
  'GDP2007': 7447033.0,
  'GDP2008': 7777213.0,
  'GDP2009': 7784888.0,
  'GDP2010': 8028180.0,
  'GDP2011': 8292865.0,
  'GDP2012': 8369661.0,
  'GDP2013': 8795170.0,
  'GDP2014': 9075011.0,
  'GDP2015': 9050270.0,
  'GDP2016': 8991073.0,
  'GDP2017': 9364567.0,
  'GDP2018': 9533554},
 'Charleston, SC': {'GDP2001': 21653742.0,
  'GDP2002': 22489587.0,
  'GDP2003': 23728962.0,
  'GDP2004': 24959946.0,
  'GDP2005': 26509880.0,
  'GDP2006': 27301191.0,
  'GDP2007': 28347500.0,
  'GDP2008': 28260049.0,
  'GDP2009': 27492440.0,
  'GDP2010': 28482118.0,
  'GDP2011': 29772873.0,
  'GDP2012': 31340382.0,
  'GDP2013': 31112632.0,
  'GDP2014': 32052064.0,
  'GDP2015': 33460560.0,
  'GDP2016': 35002215.0,
  'GDP2017': 36394735.0,
  'GDP2018': 37696866},
 'Charlotte, NC': {'GDP2001': 93240759.0,
  'GDP2002': 95375126.0,
  'GDP2003': 99475905.0,
  'GDP2004': 105167044.0,
  'GDP2005': 112682960.0,
  'GDP2006': 119541323.0,
  'GDP2007': 120890684.0,
  'GDP2008': 128729782.0,
  'GDP2009': 118106645.0,
  'GDP2010': 114095994.0,
  'GDP2011': 120570847.0,
  'GDP2012': 127361099.0,
  'GDP2013': 126546666.0,
  'GDP2014': 130434606.0,
  'GDP2015': 136879027.0,
  'GDP2016': 139087135.0,
  'GDP2017': 143835956.0,
  'GDP2018': 146813931},
 'Charlottesville, VA': {'GDP2001': 7779229.0,
  'GDP2002': 7920830.0,
  'GDP2003': 8246137.0,
  'GDP2004': 8625042.0,
  'GDP2005': 9044703.0,
  'GDP2006': 9437855.0,
  'GDP2007': 9778228.0,
  'GDP2008': 9818298.0,
  'GDP2009': 9917449.0,
  'GDP2010': 10304601.0,
  'GDP2011': 10420362.0,
  'GDP2012': 10717818.0,
  'GDP2013': 10553204.0,
  'GDP2014': 10723245.0,
  'GDP2015': 11184783.0,
  'GDP2016': 11437411.0,
  'GDP2017': 11937304.0,
  'GDP2018': 12195054},
 'Chicago, IL': {'GDP2001': 514981994.0,
  'GDP2002': 517294621.0,
  'GDP2003': 523312090.0,
  'GDP2004': 536662096.0,
  'GDP2005': 548632398.0,
  'GDP2006': 557386178.0,
  'GDP2007': 564120391.0,
  'GDP2008': 548672390.0,
  'GDP2009': 530830225.0,
  'GDP2010': 539704813.0,
  'GDP2011': 547499300.0,
  'GDP2012': 561588192.0,
  'GDP2013': 566499499.0,
  'GDP2014': 576000060.0,
  'GDP2015': 589049966.0,
  'GDP2016': 594060750.0,
  'GDP2017': 600421994.0,
  'GDP2018': 611591128},
 'Cincinnati, OH': {'GDP2001': 101285472.0,
  'GDP2002': 104341674.0,
  'GDP2003': 106058078.0,
  'GDP2004': 107597310.0,
  'GDP2005': 109962093.0,
  'GDP2006': 109335781.0,
  'GDP2007': 110020267.0,
  'GDP2008': 110334271.0,
  'GDP2009': 105709972.0,
  'GDP2010': 109064346.0,
  'GDP2011': 112511569.0,
  'GDP2012': 112553108.0,
  'GDP2013': 113228898.0,
  'GDP2014': 115447868.0,
  'GDP2015': 117808842.0,
  'GDP2016': 120668471.0,
  'GDP2017': 122867631.0,
  'GDP2018': 124948052},
 'Cleveland, OH': {'GDP2001': 105546960.0,
  'GDP2002': 107849789.0,
  'GDP2003': 110352564.0,
  'GDP2004': 112858462.0,
  'GDP2005': 115462349.0,
  'GDP2006': 113473596.0,
  'GDP2007': 113580402.0,
  'GDP2008': 113955966.0,
  'GDP2009': 106092046.0,
  'GDP2010': 107166841.0,
  'GDP2011': 109437899.0,
  'GDP2012': 109967066.0,
  'GDP2013': 110283260.0,
  'GDP2014': 114110316.0,
  'GDP2015': 115773490.0,
  'GDP2016': 115847427.0,
  'GDP2017': 117136194.0,
  'GDP2018': 119327107},
 'Colorado Springs, CO': {'GDP2001': 24178287.0,
  'GDP2002': 24377471.0,
  'GDP2003': 24689513.0,
  'GDP2004': 25165423.0,
  'GDP2005': 26367812.0,
  'GDP2006': 26942678.0,
  'GDP2007': 27625050.0,
  'GDP2008': 27800293.0,
  'GDP2009': 27865691.0,
  'GDP2010': 28827832.0,
  'GDP2011': 29458070.0,
  'GDP2012': 29536184.0,
  'GDP2013': 29887635.0,
  'GDP2014': 30259610.0,
  'GDP2015': 31033614.0,
  'GDP2016': 31729384.0,
  'GDP2017': 33146193.0,
  'GDP2018': 34207716},
 'Columbia, SC': {'GDP2001': 28107496.0,
  'GDP2002': 28443551.0,
  'GDP2003': 29349175.0,
  'GDP2004': 30444328.0,
  'GDP2005': 31165892.0,
  'GDP2006': 32269785.0,
  'GDP2007': 33179297.0,
  'GDP2008': 33507778.0,
  'GDP2009': 32633898.0,
  'GDP2010': 32732266.0,
  'GDP2011': 32809068.0,
  'GDP2012': 32622967.0,
  'GDP2013': 33562872.0,
  'GDP2014': 34854216.0,
  'GDP2015': 36090522.0,
  'GDP2016': 37114520.0,
  'GDP2017': 38014141.0,
  'GDP2018': 38443541},
 'Columbus, OH': {'GDP2001': 86442566.0,
  'GDP2002': 87622244.0,
  'GDP2003': 89607777.0,
  'GDP2004': 92396749.0,
  'GDP2005': 95258648.0,
  'GDP2006': 93592348.0,
  'GDP2007': 94430052.0,
  'GDP2008': 94161460.0,
  'GDP2009': 90978156.0,
  'GDP2010': 93662870.0,
  'GDP2011': 97306672.0,
  'GDP2012': 100403337.0,
  'GDP2013': 102973266.0,
  'GDP2014': 106185217.0,
  'GDP2015': 108502678.0,
  'GDP2016': 109753062.0,
  'GDP2017': 112512486.0,
  'GDP2018': 114675302},
 'Vero Beach, FL': {'GDP2001': 3850240.0,
  'GDP2002': 4059092.0,
  'GDP2003': 4305721.0,
  'GDP2004': 4542542.0,
  'GDP2005': 4945116.0,
  'GDP2006': 5179426.0,
  'GDP2007': 5159094.0,
  'GDP2008': 4974531.0,
  'GDP2009': 4624108.0,
  'GDP2010': 4438674.0,
  'GDP2011': 4434111.0,
  'GDP2012': 4501931.0,
  'GDP2013': 4517719.0,
  'GDP2014': 4681105.0,
  'GDP2015': 4864424.0,
  'GDP2016': 5047825.0,
  'GDP2017': 5130162.0,
  'GDP2018': 5346831},
 'Dallas/Fort Worth, TX': {'GDP2001': 278034378.0,
  'GDP2002': 284845245.0,
  'GDP2003': 287843450.0,
  'GDP2004': 302750371.0,
  'GDP2005': 317491618.0,
  'GDP2006': 335708982.0,
  'GDP2007': 349534310.0,
  'GDP2008': 356635869.0,
  'GDP2009': 345708429.0,
  'GDP2010': 351672601.0,
  'GDP2011': 362930984.0,
  'GDP2012': 375286232.0,
  'GDP2013': 386681388.0,
  'GDP2014': 404622644.0,
  'GDP2015': 425323274.0,
  'GDP2016': 436717395.0,
  'GDP2017': 451414779.0,
  'GDP2018': 468918434},
 'Dayton, OH': {'GDP2001': 13058872.0,
  'GDP2002': 14099738.0,
  'GDP2003': 15405983.0,
  'GDP2004': 16411469.0,
  'GDP2005': 17076899.0,
  'GDP2006': 18094496.0,
  'GDP2007': 18211035.0,
  'GDP2008': 17376210.0,
  'GDP2009': 16186825.0,
  'GDP2010': 16038219.0,
  'GDP2011': 15904882.0,
  'GDP2012': 15984228.0,
  'GDP2013': 16075794.0,
  'GDP2014': 16297329.0,
  'GDP2015': 16807629.0,
  'GDP2016': 17511511.0,
  'GDP2017': 18091856.0,
  'GDP2018': 18605256},
 'Denver, CO': {'GDP2001': 136117138.0,
  'GDP2002': 136177175.0,
  'GDP2003': 136298910.0,
  'GDP2004': 136123564.0,
  'GDP2005': 141185071.0,
  'GDP2006': 142502925.0,
  'GDP2007': 147895210.0,
  'GDP2008': 147721520.0,
  'GDP2009': 143417826.0,
  'GDP2010': 145800061.0,
  'GDP2011': 148733648.0,
  'GDP2012': 152873532.0,
  'GDP2013': 159346539.0,
  'GDP2014': 166771650.0,
  'GDP2015': 175076489.0,
  'GDP2016': 179631781.0,
  'GDP2017': 187126660.0,
  'GDP2018': 193965928},
 'Des Moines, IA': {'GDP2001': 28507657.0,
  'GDP2002': 28946212.0,
  'GDP2003': 31432026.0,
  'GDP2004': 34341388.0,
  'GDP2005': 36771606.0,
  'GDP2006': 35601256.0,
  'GDP2007': 39114874.0,
  'GDP2008': 35154985.0,
  'GDP2009': 34275281.0,
  'GDP2010': 34990053.0,
  'GDP2011': 34922844.0,
  'GDP2012': 37455455.0,
  'GDP2013': 35716360.0,
  'GDP2014': 40301568.0,
  'GDP2015': 43066102.0,
  'GDP2016': 44212889.0,
  'GDP2017': 43692327.0,
  'GDP2018': 44481448},
 'Detroit, MI': {'GDP2001': 220452238.0,
  'GDP2002': 225265918.0,
  'GDP2003': 230033047.0,
  'GDP2004': 228787828.0,
  'GDP2005': 232862909.0,
  'GDP2006': 224387462.0,
  'GDP2007': 222776109.0,
  'GDP2008': 208384341.0,
  'GDP2009': 184974984.0,
  'GDP2010': 197274436.0,
  'GDP2011': 205487945.0,
  'GDP2012': 212159700.0,
  'GDP2013': 215851242.0,
  'GDP2014': 219559892.0,
  'GDP2015': 224508971.0,
  'GDP2016': 230047866.0,
  'GDP2017': 233241705.0,
  'GDP2018': 238679503},
 'Raleigh/Durham, NC': {'GDP2001': 42002605.0,
  'GDP2002': 43159131.0,
  'GDP2003': 44350851.0,
  'GDP2004': 46438326.0,
  'GDP2005': 49052909.0,
  'GDP2006': 51668985.0,
  'GDP2007': 53510987.0,
  'GDP2008': 54747975.0,
  'GDP2009': 52209061.0,
  'GDP2010': 55357585.0,
  'GDP2011': 55769353.0,
  'GDP2012': 57452356.0,
  'GDP2013': 60024066.0,
  'GDP2014': 62980554.0,
  'GDP2015': 66868388.0,
  'GDP2016': 69655443.0,
  'GDP2017': 71856766.0,
  'GDP2018': 76127645},
 'El Paso, TX': {'GDP2001': 20096007.0,
  'GDP2002': 20709523.0,
  'GDP2003': 20714785.0,
  'GDP2004': 21243894.0,
  'GDP2005': 21976630.0,
  'GDP2006': 22789156.0,
  'GDP2007': 23603409.0,
  'GDP2008': 23431763.0,
  'GDP2009': 23850825.0,
  'GDP2010': 25549042.0,
  'GDP2011': 26876847.0,
  'GDP2012': 27525750.0,
  'GDP2013': 27351400.0,
  'GDP2014': 27207329.0,
  'GDP2015': 27478590.0,
  'GDP2016': 27720882.0,
  'GDP2017': 28207727.0,
  'GDP2018': 29123868},
 'Eugene, OR': {'GDP2001': 11093603.0,
  'GDP2002': 11361070.0,
  'GDP2003': 11582574.0,
  'GDP2004': 12048625.0,
  'GDP2005': 12560517.0,
  'GDP2006': 13352168.0,
  'GDP2007': 13533811.0,
  'GDP2008': 13409471.0,
  'GDP2009': 12570205.0,
  'GDP2010': 12636699.0,
  'GDP2011': 12755893.0,
  'GDP2012': 12776626.0,
  'GDP2013': 12780948.0,
  'GDP2014': 12990137.0,
  'GDP2015': 13807680.0,
  'GDP2016': 14146848.0,
  'GDP2017': 14683029.0,
  'GDP2018': 15067333},
 'Fargo, ND': {'GDP2001': 7810580.0,
  'GDP2002': 8313433.0,
  'GDP2003': 8732610.0,
  'GDP2004': 9051027.0,
  'GDP2005': 9330347.0,
  'GDP2006': 9639428.0,
  'GDP2007': 9963769.0,
  'GDP2008': 10248748.0,
  'GDP2009': 10012416.0,
  'GDP2010': 10415805.0,
  'GDP2011': 10974092.0,
  'GDP2012': 11902375.0,
  'GDP2013': 12100336.0,
  'GDP2014': 12631802.0,
  'GDP2015': 12735939.0,
  'GDP2016': 12667457.0,
  'GDP2017': 12667707.0,
  'GDP2018': 13036357},
 'Fayetteville, AR': {'GDP2001': 13318051.0,
  'GDP2002': 14344930.0,
  'GDP2003': 15294063.0,
  'GDP2004': 16826921.0,
  'GDP2005': 17954527.0,
  'GDP2006': 18039115.0,
  'GDP2007': 17443958.0,
  'GDP2008': 17181088.0,
  'GDP2009': 16404781.0,
  'GDP2010': 17364563.0,
  'GDP2011': 17732861.0,
  'GDP2012': 18363117.0,
  'GDP2013': 19616259.0,

In [110]:
def addGDP(main_df, gdp_lut):
    for i in range(2001, 2019):
        main_df[f"city1_gdp_{i}"] = main_df["city1"].map(
            lambda city: gdp_lut[city][f"GDP{i}"])
        main_df[f"city2_gdp_{i}"] = main_df["city2"].map(
            lambda city: gdp_lut[city][f"GDP{i}"])

In [118]:
df_gdp_clone = df.copy()
addGDP(df_gdp_clone, gdp_lut)
df_gdp_clone

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,...,city1_gdp_2014,city2_gdp_2014,city1_gdp_2015,city2_gdp_2015,city1_gdp_2016,city2_gdp_2016,city1_gdp_2017,city2_gdp_2017,city1_gdp_2018,city2_gdp_2018
0,2025,2,32467,31703,"Miami, FL","New York City, NY",1118,"17,955",$208.52,B6,...,2.749875e+08,1.432602e+09,2.861510e+08,1.458929e+09,2.955292e+08,1.480027e+09,3.061419e+08,1.508145e+09,315031150,1532202227
1,2025,2,32575,32457,"Los Angeles, CA","San Francisco, CA",372,"17,310",$157.68,WN,...,8.272555e+08,4.007815e+08,8.623817e+08,4.247917e+08,8.799582e+08,4.438665e+08,9.124910e+08,4.728727e+08,941064112,497195398
2,2025,2,32575,31703,"Los Angeles, CA","New York City, NY",2510,"13,648",$430.38,DL,...,8.272555e+08,1.432602e+09,8.623817e+08,1.458929e+09,8.799582e+08,1.480027e+09,9.124910e+08,1.508145e+09,941064112,1532202227
3,2025,2,31703,31454,"New York City, NY","Orlando, FL",989,"12,627",$186.50,B6,...,1.432602e+09,1.048277e+08,1.458929e+09,1.100791e+08,1.480027e+09,1.145600e+08,1.508145e+09,1.192467e+08,1532202227,124173982
4,2025,2,30977,31703,"Chicago, IL","New York City, NY",773,"11,284",$221.33,UA,...,5.760001e+08,1.432602e+09,5.890500e+08,1.458929e+09,5.940608e+08,1.480027e+09,6.004220e+08,1.508145e+09,611591128,1532202227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13999,2022,1,30721,30849,"Boston, MA","Bozeman, MT",1991,163,$336.19,B6,...,3.657951e+08,NaN,3.812879e+08,NaN,3.890809e+08,NaN,3.993607e+08,NaN,412855824,92802
14000,2022,1,31453,30436,"Houston, TX","Tucson, AZ",945,163,$232.04,UA,...,4.204497e+08,3.622197e+07,4.427059e+08,3.610890e+07,4.291340e+08,3.713441e+07,4.323292e+08,3.863698e+07,445335360,40011352
14001,2022,1,31638,33570,"Fresno, CA","San Diego, CA",314,163,$158.49,AS,...,3.743303e+07,1.936751e+08,3.910016e+07,2.005646e+08,3.983925e+07,2.038825e+08,4.159781e+07,2.106939e+08,43436946,219361505
14002,2022,1,30194,31481,"Dallas/Fort Worth, TX","Panama City, FL",685,163,$219.12,WN,...,4.046226e+08,7.149035e+06,4.253233e+08,7.264429e+06,4.367174e+08,7.348864e+06,4.514148e+08,7.463278e+06,468918434,7606775
14003,2022,1,34057,34570,"Portland, OR","Reno, NV",444,163,$186.50,AS,...,1.249730e+08,2.134092e+07,1.315932e+08,2.294860e+07,1.379909e+08,2.361274e+07,1.436806e+08,2.483341e+07,150033141,24441835

In [121]:
df = pd.merge(df_gdp_clone, df_pop_clone)
df

,citymarketid_1,citymarketid_2,nsmiles,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,...,city1_pop_2020,city2_pop_2020,city1_pop_2021,city2_pop_2021,city1_pop_2022,city2_pop_2022,city1_pop_2023,city2_pop_2023,city1_pop_2024,city2_pop_2024
0,32467,31703,1118,"17,955",$208.52,B6,0.2551,$191.48,B6,0.2551,...,"442,828","8,740,306","441,630","8,453,772","456,736","8,356,179","470,677","8,390,888","487,014","8,478,072"
1,32575,32457,372,"17,310",$157.68,WN,0.5006,$169.03,AS,0.1193,...,"3,896,329","874,826","3,830,987","815,498","3,832,998","814,176","3,847,428","819,151","3,878,704","827,526"
2,32575,31703,2510,"13,648",$430.38,DL,0.2535,$526.21,B6,0.2272,...,"3,896,329","8,740,306","3,830,987","8,453,772","3,832,998","8,356,179","3,847,428","8,390,888","3,878,704","8,478,072"
3,31703,31454,989,"12,627",$186.50,B6,0.3735,$186.10,B6,0.3735,...,"8,740,306","307,868","8,453,772","309,928","8,356,179","318,821","8,390,888","327,390","8,478,072","334,854"
4,30977,31703,773,"11,284",$221.33,UA,0.4328,$238.62,AA,0.2426,...,"2,745,196","8,740,306","2,706,324","8,453,772","2,684,076","8,356,179","2,699,144","8,390,888","2,721,308","8,478,072"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13999,30721,30849,1991,163,$336.19,B6,0.3261,$364.03,AA,0.1021,...,"675,522","53,865","658,581","55,409","660,080","56,293","664,603","57,106","673,458","57,894"
14000,31453,30436,945,163,$232.04,UA,0.6251,$245.81,WN,0.2870,...,"2,298,945","542,649","2,291,070","541,283","2,314,258","547,476","2,346,908","549,932","2,390,125","554,013"
14001,31638,33570,314,163,$158.49,AS,0.9133,$157.30,AS,0.9133,...,"542,714","1,384,824","543,931","1,374,972","545,874","1,388,730","547,260","1,394,555","550,105","1,404,452"
14002,30194,31481,685,163,$219.12,WN,0.5775,$201.23,WN,0.5775,...,"923,645","32,858","937,692","34,178","959,520","34,861","984,664","35,969","1,008,106","37,024"
14003,34057,34570,444,163,$186.50,AS,0.8579,$185.74,WN,0.0546,...,"653,166","264,990","642,803","270,060","636,093","273,249","634,314","276,078","635,749","281,714"